.signin-section .auth-row {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.signin-section .bg-primary-100 {
  background: rgba(74, 108, 247, 0.1);
}

.signin-section .auth-cover-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
  position: relative;
  z-index: 1;
}

.signin-section .auth-cover-wrapper .auth-cover .title {
  text-align: center;
  margin-bottom: 40px;
}

.text-primary {
  color: #4a6cf7 !important;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.text-medium {
  font-weight: 500;
}
.mb-25 {
  margin-bottom: 25px;
}

.signin-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #5d657b;
}

.signin-section .auth-cover-wrapper .auth-cover .cover-image {
  max-width: 100%;
  margin: auto;
}

.signup-wrapper {
  background: #fff;
  padding: 60px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-section .auth-cover-wrapper .auth-cover .cover-image img {
  width: 100%;
}

.signin-section .auth-cover-wrapper .auth-cover .shape-image {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 5%;
}

.signin-section .signin-wrapper {
  background: #fff;
  padding: 60px 60px 0 60px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-section .form-wrapper {
  width: 100%;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.text-sm {
  font-size: 14px;
  line-height: 22px;
}

.signin-section .input-style-1 {
  position: relative;
  margin-bottom: 30px;
}

.signin-section .input-style-1 label {
  font-size: 14px;
  font-weight: 500;
  color: #262d3f;
  display: block;
  margin-bottom: 10px;
}

.signin-section .input-style-1 input,
.signin-section .input-style-1 textarea {
  width: 100%;
  background: rgba(239, 239, 239, 0.5);
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 16px;
  border-color: #4a6cf7 !important;
  color: #5d657b;
  resize: none;
  transition: all 0.3s;
}

.signin-section .input-style-1 input:focus,
.signin-section .input-style-1 textarea:focus {
  border-color: #4a6cf7 !important;
  background: #fff !important;
}
.signin-section .input-style-1 {
  position: relative;
  margin-bottom: 30px;
}

.signin-section .input-style-1 label {
  font-size: 14px;
  font-weight: 500;
  color: #262d3f;
  display: block;
  margin-bottom: 10px;
}

.signin-section .checkbox-style {
  padding-left: 40px;
  min-height: 28px;
}

.signin-section .checkbox-style .form-check-input {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  margin-left: -40px;
  cursor: pointer;
}

.signin-section .checkbox-style label {
  margin-top: 6px;
  cursor: pointer;
  user-select: none;
}

@media (min-width: 1400px) {
  .signin-section .text-xxl-end {
    text-align: right !important;
  }
}

.signin-section .primary-btn {
  background: #4a6cf7;
  color: #fff;
}

.signin-section .btn-hover {
  position: relative;
  overflow: hidden;
}

.signin-section .pt-40 {
  padding-top: 40px;
}

.text-gray {
  color: #5d657b !important;
}
.text-sm {
  font-size: 14px;
  line-height: 22px;
}
.text-medium {
  font-weight: 500;
}

.pb-40 {
  padding-bottom: 40px;
}
.pt-40 {
  padding-top: 40px;
}

.signin-section .signin-wrapper .singin-option button {
  font-size: 16px;
  font-weight: 600;
}

.signin-section .main-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 15px 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
  overflow: hidden;
}

.signin-section .primary-btn-outline {
  background: transparent;
  color: #4a6cf7;
  border-color: #4a6cf7;
}

.signin-section .singin-option button {
  font-size: 16px;
  font-weight: 600;
}

.signin-section .danger-btn-outline {
  background: transparent;
  color: #d50100;
  border-color: #d50100;
}

.text-dark {
  color: #262d3f !important;
}
.text-sm {
  font-size: 14px;
  line-height: 22px;
}
